*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
body{
    font-family: 'Dongle', sans-serif;
    font-size: 33px;
}
.navbar{
    position: fixed;
    background-color: white;
    width: 100%;
}
header{
    display: inline-flex;
    width: 100%;
    padding: 7px 42px 7px 42px;
}
.company-name{
    width: 50vw;
}
.header-2{
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: end;
}
select {
    color: gray;
}
input.change{
    background: rgb(78, 78, 78);
    border: none;
    color: white;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
}
input.go{
    background: rgb(88, 195, 237);
    border: none;
    color: white;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
}
nav{
    background-color: black;
    color: white;
    box-shadow: 0px 2px 4px black;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 10vh;
    padding-left: 42px;
}
nav>ul>li{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 23px;
}
nav>ul>li:hover{
    background-color: gray;
}
.football{
    grid-area: Football;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 50px 24px 75px 30px;
    font-family: 'Sedgwick Ave Display', cursive;
}
.football>ul>li, .addidas>ul>li{
    list-style: none;
}
.addidas{
    grid-area: Addidas;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 4px 50px 45px 50px;
    display: flex;
    line-height: 38px;
}
.addidas-contant>ul>li{
    font-size: 24px;
    color: gray;
    list-style: none;
}
.price{
    display: flex;
    padding-bottom: 40px;
    align-items: baseline;
}
.price>h1{
    font-size: 39px;
    padding-left: 11px;
}
.t-shirt{
    display: flex;
    align-items: center;
}
.bauser{
    grid-area: Bauser;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 50px 24px 75px 30px;
    font-family: 'Sedgwick Ave Display', cursive;
}
.advertisment{
    display: grid;
    grid-template-areas: 'Football Addidas Addidas Addidas Addidas''Bauser Addidas Addidas Addidas Addidas';
    gap: 20px;
    padding: 200px 25px 25px 25px;
}
.material{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 25px 25px 25px 25px;
}
.material-first{
    border-radius: 2px;
    background-color: rgb(237, 235, 235);
    padding: 30px 35px 0px 35px;
    line-height: 30px;
}
.product{
    background-color: white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}
.amount{
    display: inline-flex;
    padding-top: 10px;
}
.amount>p{
    padding-left: 18px;
    width: 137px;
    line-height: 16px;
    font-size: 19px;
}
.amount>h2{
    font-size: 51px;
    display: flex;
    align-items: flex-end;
    color: rgb(88, 195, 237);
}
.categories{
    padding: 0px 0px 0px 40px;
    line-height: 27px;
    color: gray;
}
.categories>h3{
    color: black;
}
.login-page{
    border-radius: 2px;
    background-color: rgb(237, 235, 235);
    padding: 30px 35px 0px 35px;
    line-height: 30px;
    font-size: 20px;
}
.forgot-your-username, .create-an-account{
    text-decoration: underline;
    text-decoration-thickness: 1px ;
}
.create-an-account{
    color:rgb(88, 195, 237);
}
.login-page input[type='text']{
    padding: 3px 0px 3px 3px;
    width: 100%
}
.checkbox-button{
    display: flex;
    flex-direction: column;
}
footer{
    border-top: 6px solid gray;
    background-color: rgb(237, 235, 235);
    width: 100%;
}
footer>ul{
    display: inline-flex;
}
footer>ul>li{
    list-style: none;
    padding: 16px 10px 26px 10px;
    
}
@media  screen and (max-width: 820px) {
    header{
        width: 60vw;
        font-size: 16px;
    }
    nav>ul{
        width: 54vw;
        padding-left: 10px;
    }
    .advertisment{
        padding-top: 350px;
        display: flex;
        flex-direction: column;
        width: 57vw;
        font-size: 15px;
    }
    .material{
        display: flex;
        flex-direction: column;
        width: 57vw;
    }
    .addidas{
        padding-left: 11px;
    }
    .t-shirt>img, .addidas-contant>img{
        width: 110px;
        height: 113px;
    }
    footer>ul>li{
        font-size: 20px;
        padding-bottom: 40px;
    }
    
}